In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('Artworks.csv')

In [3]:
data.head()

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,ThumbnailURL,Circumference (cm),Depth (cm),Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.)
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,http://www.moma.org/media/W1siZiIsIjU5NDA1Il0s...,NaN,NaN,NaN,48.6000,NaN,NaN,168.9000,NaN,NaN
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,http://www.moma.org/media/W1siZiIsIjk3Il0sWyJw...,NaN,NaN,NaN,40.6401,NaN,NaN,29.8451,NaN,NaN
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, pen, color pencil, ink, and gouache ...",...,http://www.moma.org/media/W1siZiIsIjk4Il0sWyJw...,NaN,NaN,NaN,34.3000,NaN,NaN,31.8000,NaN,NaN
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1980,Photographic reproduction with colored synthet...,...,http://www.moma.org/media/W1siZiIsIjEyNCJdLFsi...,NaN,NaN,NaN,50.8000,NaN,NaN,50.8000,NaN,NaN
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, color pencil, ink, and gouache on tr...",...,http://www.moma.org/media/W1siZiIsIjEyNiJdLFsi...,NaN,NaN,NaN,38.4000,NaN,NaN,19.1000,NaN,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138151 entries, 0 to 138150
Data columns (total 29 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Title               138112 non-null  object
 1   Artist              136868 non-null  object
 2   ConstituentID       136868 non-null  object
 3   ArtistBio           132226 non-null  object
 4   Nationality         136868 non-null  object
 5   BeginDate           136868 non-null  object
 6   EndDate             136868 non-null  object
 7   Gender              136868 non-null  object
 8   Date                135949 non-null  object
 9   Medium              128450 non-null  object
 10  Dimensions          128397 non-null  object
 11  CreditLine          135714 non-null  object
 12  AccessionNumber     138151 non-null  object
 13  Classification      138151 non-null  object
 14  Department          138151 non-null  object
 15  DateAcquired        131026 non-null  object
 16  Cataloged           138151 non-null  object
 17  ObjectID            138151 non-null  int64
 18  URL                 87184 non-null   object
 19  ThumbnailURL        76409 non-null   object
 20  Circumference (cm)  10 non-null      float64
 21  Depth (cm)          13839 non-null   float64
 22  Diameter (cm)       1462 non-null    float64
 23  Height (cm)         120355 non-null  float64
 24  Length (cm)         742 non-null     float64
 25  Weight (kg)         290 non-null     float64
 26  Width (cm)          119434 non-null  float64
 27  Seat Height (cm)    0 non-null       float64
 28  Duration (sec.)     2140 non-null    float64
dtypes: float64(9), int64(1), object(19)
memory usage: 30.6+ MB

In [5]:
data=data[['Title', 'Artist', 'Nationality', 'Gender', 'DateAcquired','Classification', 'Department','Medium']]

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138151 entries, 0 to 138150
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Title           138112 non-null  object
 1   Artist          136868 non-null  object
 2   Nationality     136868 non-null  object
 3   Gender          136868 non-null  object
 4   DateAcquired    131026 non-null  object
 5   Classification  138151 non-null  object
 6   Department      138151 non-null  object
 7   Medium          128450 non-null  object
dtypes: object(8)
memory usage: 8.4+ MB

In [7]:
# drop all rows with any empty space
data = data.dropna()

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121115 entries, 0 to 138150
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Title           121115 non-null  object
 1   Artist          121115 non-null  object
 2   Nationality     121115 non-null  object
 3   Gender          121115 non-null  object
 4   DateAcquired    121115 non-null  object
 5   Classification  121115 non-null  object
 6   Department      121115 non-null  object
 7   Medium          121115 non-null  object
dtypes: object(8)
memory usage: 8.3+ MB

In [9]:
# select rows with only one artist
data = data[~data.Artist.str.contains(", ")]

In [10]:
data

,Title,Artist,Nationality,Gender,DateAcquired,Classification,Department,Medium
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,(Austrian),(Male),1996-04-09,Architecture,Architecture & Design,Ink and cut-and-pasted painted pages on paper
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,(French),(Male),1995-01-17,Architecture,Architecture & Design,Paint and colored pencil on print
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,(Austrian),(Male),1997-01-15,Architecture,Architecture & Design,"Graphite, pen, color pencil, ink, and gouache ..."
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,(),(Male),1995-01-17,Architecture,Architecture & Design,Photographic reproduction with colored synthet...
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,(Austrian),(Male),1997-01-15,Architecture,Architecture & Design,"Graphite, color pencil, ink, and gouache on tr..."
...,...,...,...,...,...,...,...,...
138145,"Silver Springs, FL",Unknown photographer,(),(),2020-10-07,Photograph,Photography,Gelatin silver print
138147,Plate (folio 2 verso) from Muscheln und schirm...,Sophie Taeuber-Arp,(Swiss),(Female),2019-12-11,Illustrated Book,Drawings & Prints,One from an illustrated book with four line bl...
138148,Plate (folio 6) from Muscheln und schirme (She...,Sophie Taeuber-Arp,(Swiss),(Female),2019-12-11,Illustrated Book,Drawings & Prints,One from an illustrated book with four line bl...
138149,Plate (folio 12) from Muscheln und schirme (Sh...,Sophie Taeuber-Arp,(Swiss),(Female),2019-12-11,Illustrated Book,Drawings & Prints,One from an illustrated book with four line bl...
138150,Plate (folio 16) from Muscheln und schirme (Sh...,Sophie Taeuber-Arp,(Swiss),(Female),2019-12-11,Illustrated Book,Drawings & Prints,One from an illustrated book with four line bl...

In [11]:
len(data.Artist.unique())

10605

In [12]:
data = data.drop_duplicates()

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92590 entries, 0 to 138150
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           92590 non-null  object
 1   Artist          92590 non-null  object
 2   Nationality     92590 non-null  object
 3   Gender          92590 non-null  object
 4   DateAcquired    92590 non-null  object
 5   Classification  92590 non-null  object
 6   Department      92590 non-null  object
 7   Medium          92590 non-null  object
dtypes: object(8)
memory usage: 6.4+ MB

In [14]:
def remove_punct(test_str, punc):
    # replace any punctuation received by an empty space
    # punc: list of strings
    for ele in test_str:  
        if ele in punc:  
            test_str = test_str.replace(ele, "") 
    return test_str

In [15]:
# remove parentheses from nationality and gender 
punc=['(',')']
data['Nationality'] = data['Nationality'].map(lambda word: remove_punct(word,punc))
data['Gender'] = data['Gender'].map(lambda word: remove_punct(word,punc))

In [16]:
# drop empty spaces = previously '()'
data.replace('',np.nan,inplace=True)
data = data.dropna()

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89164 entries, 0 to 138150
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           89164 non-null  object
 1   Artist          89164 non-null  object
 2   Nationality     89164 non-null  object
 3   Gender          89164 non-null  object
 4   DateAcquired    89164 non-null  object
 5   Classification  89164 non-null  object
 6   Department      89164 non-null  object
 7   Medium          89164 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [18]:
data.reset_index(inplace=True)

In [19]:
# only take year from acquired date
data['DateAcquired'] = data['DateAcquired'].astype('datetime64[ns]').dt.year

In [20]:
data['Gender'].unique()

array(['Male', 'Female', 'Non-Binary', 'male', 'female', 'Non-binary'],
      dtype=object)

In [21]:
# treat gender categories
data['Gender'] = data['Gender'].replace({'male':'Male', 'female':'Female', 'Non-binary':'Non-Binary'})

In [22]:
# select only female and male 
data = data[data['Gender'] != 'Non-Binary']

In [23]:
# check duplicates artworks
data.loc[data.duplicated(subset=['Title', 'Artist']),:]

,index,Title,Artist,Nationality,Gender,DateAcquired,Classification,Department,Medium
38,100,"Woodland Crematorium, Woodland Cemetery, Stock...",Erik Gunnar Asplund,Swedish,Male,1990,Architecture,Architecture & Design,Graphite on tracing paper on board
85,158,"Arch Oboler Guest House (Eleanor's Retreat), p...",Frank Lloyd Wright,American,Male,1992,Architecture,Architecture & Design,Graphite and color pencil on tracing paper
98,176,"Nara Convention Hall, Nara, Japan, Exterior pe...",Arata Isozaki,Japanese,Male,1993,Architecture,Architecture & Design,Synthetic polymer paint on computer-generated ...
179,275,"Church of the Light, Ibaraki, Osaka, Japan, Plan",Tadao Ando,Japanese,Male,1996,Architecture,Architecture & Design,Lithograph with color pencil
211,312,"Parc de la Villette Project, Paris, France (Wa...",Zaha Hadid,British,Female,1996,Architecture,Architecture & Design,Color pencil on tracing paper
...,...,...,...,...,...,...,...,...,...
88809,137678,Folio from 5 x 5 = 25: Vystavka zhivopisi (5 x...,Aleksandr Rodchenko,Russian,Male,2001,Illustrated Book,Drawings & Prints,Colored pencil on graph paper from an illustra...
88810,137679,Folio from 5 x 5 = 25: Vystavka zhivopisi (5 x...,Liubov Popova,Russian,Female,2001,Illustrated Book,Drawings & Prints,Linoleum cut from an illustrated book with thr...
88811,137680,Folio from 5 x 5 = 25: Vystavka zhivopisi (5 x...,Aleksandr Vesnin,Russian,Male,2001,Illustrated Book,Drawings & Prints,Gouache and pencil on paper from an illustrate...
88812,137681,Folio from 5 x 5 = 25: Vystavka zhivopisi (5 x...,Varvara Stepanova,Russian,Female,2001,Illustrated Book,Drawings & Prints,Linoleum cut from an illustrated book with thr...
88813,137696,Untitled,Noah Davis,American,Male,2020,Painting,Painting & Sculpture,Oil on canvas

In [24]:
# keep the first one only 
data.drop_duplicates(subset=['Title', 'Artist'], keep='first',inplace=True)

In [25]:
# transform nationalities to countries
demonyms = pd.read_csv('demonyms.csv', header = None, index_col = 0)
other_demonyms = pd.DataFrame(['Other', 'Korea', 'Canada', 'Benin', 'United States'], columns = [1], index = ['Nationality unknown', 'Korean', 'Canadian Inuit', 'Beninese', 'Native American'])
demonyms = demonyms.append(other_demonyms)
data['Country'] = [str(demonyms.loc[nation, 1]) for nation in data['Nationality']]

In [26]:
data['Country'].unique()

array(['Austria', 'France', 'United States', 'Germany', 'Sweden',
       'United Kingdom', 'Japan', 'Italy', 'Argentina', 'Switzerland',
       'Brazil', 'Luxembourg', 'Spain', 'Netherlands', 'Russia', 'Iran',
       'Finland', 'Denmark', 'Belgium', 'Morocco', 'Colombia',
       'Australia', 'Yugoslavia', 'Czech Republic', 'Hungary', 'Canada',
       'Poland', 'Slovenia', 'Chile',
       'Mexican    Mexico\nMexican    Mexico\nName: 1, dtype: object',
       'Latvia', 'Other', 'Greece', 'Iceland', 'Czechoslovakia',
       'Croatia', 'Israel', 'Norway', 'Cuba', 'Romania', 'Venezuela',
       'Uruguay', 'Ukraine', 'Thailand', 'Algeria', 'Guatemala', 'India',
       'Ireland', 'Costa Rica', 'Korea', 'Ethiopia', 'Kuwait', 'Haiti',
       'Scotland', 'South Africa', 'Zimbabwe', 'Ecuador', 'Portugal',
       'Panama', 'Peru', 'Republic Of The Congo', 'Mali', 'Turkey',
       'Cambodia', 'Bosnia And Herzegovina', 'China', 'Slovakia',
       'Estonia', 'Pakistan', 'Bolivia', 'Palestine', 'Taiwan',
       'Paraguay', 'Nicaragua', 'Tunisia', 'Sudan', 'Tanzania', 'Guyana',
       'Senegal', 'The Bahamas', 'Bulgaria', 'Lebanon', 'Kenya',
       'Nigeria', 'Georgia', 'Egypt', 'Albania', 'Azerbaijan',
       'Ivory Coast', 'Malaysia', 'Serbia', 'Singapore', 'Lithuania',
       'Namibia', 'Ghana', 'Afghanistan', 'Uganda', 'Cameroon',
       'New Zealand', 'Macedonia', 'Philippines', 'Bangladesh',
       'Burkina Faso', 'Benin', 'Sierra Leone', 'United Arab Emirates',
       'El Salvador'], dtype=object)

In [27]:
# treat mexico
data.replace('Mexican    Mexico\nMexican    Mexico\nName: 1, dtype: object', 'Mexico', inplace = True)

In [28]:
#data.to_csv('data.csv', index = False)